body {
  margin: 0 auto;
  width: 90%;
}
h1 {
  text-align: center;
  border-bottom: 2px solid gray;
  padding-bottom: 5px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 25px;
}

.lte {
  color: #c747bf;
}
.varname {
  color: #0ba48a;
}
.asign {
  color: #ee5d43;
}
.value {
  color: #34973a;
}

.question {
  margin: 0 auto;
  width: 80%;
  border-bottom: 1px solid gray;
}
